---
import { portfolioData } from "../../data";
import BaseLayout from "../layouts/BaseLayout.astro";

---

<BaseLayout>
  <section class="p-12">
    <div class="grid md:grid-cols-2 gap-8 mb-28">
      {
        portfolioData.map((item) => (
          <a
            href={item.source}
            class="md:even:pt-12 ease-in-out duration-75 cursor-pointer hover:drop-shadow-[10px_8px_0_rgba(0,0,0,1)]"
          >
            <div class="border-2 border-black rounded-xl overflow-hidden bg-black">
              <img src={item.img} alt={item.desc} />
            </div>

            <div class="bg-white border-x-2 border-black border-b-2 rounded-bl-xl rounded-br-xl mx-4 p-4 flex justify-between gap-5 items-center ">
              <div class="flex flex-col gap-3">
                <span class="font-bold text-xl ">{item.title} </span>
                <span>{item.desc}</span>
                <button class="text-white text-sm py-2 px-5 bg-teal-600 rounded-md hover:bg-teal-900 w-1/3 ">
                  {" "}
                  <link href={item.source} /> Source Code
                </button>
              </div>
            </div>
          </a>
        ))
      }
    </div>
  </section>
</BaseLayout>
